#!/bin/bash

# sleep a few seconds
# Otherwise unseal will fail
sleep 5

ARRAY=({{ " ".join(vault_unseal_keys) }})
i=0

until [ `curl http://127.0.0.1:8200/v1/sys/seal-status 2>/dev/null | jq '.sealed'` == "false" ]; do
  [[ i -gt {{ vault_unseal_keys|length }} ]] && exit 0
  curl -X POST http://127.0.0.1:8200/v1/sys/unseal --data "{ \"key\": \"${ARRAY[i]}\"}"
  let i++
done
